@model MvcMusicStoreLab.Models.Genre
@{
    ViewBag.Title = "Browse ";
}
<div class="genre">
    <h3>
        <em>@Model.Name</em> Albums</h3>
    <ul id="album-list">
        @foreach (var album in Model.Albums)
        {
           <li>
             <a href="@Url.Action("Details", new { id = album.AlbumID })"> <img alt="@album.Title" src=@Url.Content(album.AlbumArtUrl) width="100" height="75"/> <span>@album.Title</span> </a>
           </li>
        }
    </ul>
</div>
