@model MvcMusicStoreLab.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>

<p>Are you sure you want to delete the album titled <strong>@Model.Title</strong></p>
@*<fieldset>
    <legend>Album</legend>

    <div class="display-label">Genre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre.Name)
    </div>
</fieldset>
*@
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
